In [1]:
import requests

session = requests.sessions.Session()

In [4]:
from io import StringIO
import pandas as pd

term = "202503"

main_df = pd.DataFrame()
count = 0
while True:
    response = session.get(f"https://duckweb.uoregon.edu/duckweb/hwskdhnt.P_ListCrse?term_in={term}&sel_subj=dummy&sel_day=dummy&sel_schd=dummy&sel_insm=dummy&sel_camp=dummy&sel_levl=dummy&sel_sess=dummy&sel_instr=dummy&sel_ptrm=dummy&sel_attr=dummy&sel_cred=dummy&sel_tuition=dummy&sel_open=dummy&sel_weekend=dummy&sel_title=&sel_to_cred=&sel_from_cred=&sel_subj=%25&sel_crse=&sel_crn=&begin_hh=0&begin_mi=0&begin_ap=a&end_hh=0&end_mi=0&end_ap=a&submit_btn=Summary&cidx={count}")
    if 'No classes were found that meet your search criteria' in response.text:
        break
    with StringIO(response.text) as buffer:
        df_group = pd.read_html(buffer)

    df = [x for x in df_group if x.iloc[0, 0] == 'Subj'][0].iloc[:-3]
    df.columns = df.iloc[0]
    df = df.loc[:, df.columns.notna()]
    df = df[1:]
    main_df = pd.concat([main_df, df], ignore_index=True)
    count += 100

main_df = main_df.drop_duplicates('CRN').reset_index(drop=True)

def get_parent_crn(row:pd.Series):
    if '+' not in row['Title']:
        return None
    prev_course = main_df.loc[row.name - 1]
    while '+' in prev_course['Title']:
        prev_course = main_df.loc[prev_course.name - 1]
    return prev_course['CRN']


main_df['parent_crn'] = main_df.apply(get_parent_crn, axis=1)
main_df

,Subj,Crse,Title,Creds,CRN,Avail,Max,Time,Day,Location,Instructor,Notes,parent_crn
0,AAAP,415,Transport & Preservat,3.00 cr.,36301,20,20,1400-1650,t,See DuckWeb,Rudnicki L,NaN,None
1,AAAP,431,Natl Register Nominat,4.00 cr.,35927,14,14,0900-1150,f,See DuckWeb,tba,!,None
2,AAAP,515,Transport & Preservat,3.00 cr.,36302,14,14,1400-1650,t,See DuckWeb,Rudnicki L,NaN,None
3,AAAP,531,Natl Register Nominat,3.00 cr.,35928,14,14,0900-1150,f,See DuckWeb,tba,!,None
4,AAAP,611,Terminal Project,1.00-12.00 cr.,30230,5,5,tba,tba,tba,STAFF,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4851,WR,320,Scientific & Techn Wr,4.00 cr.,36359,22,22,1000-1120,tr,See DuckWeb,Simnitt E,!,None
4852,WR,320,Scientific & Techn Wr,4.00 cr.,35135,22,22,-,NaN,ASYNC WEB,Recker I,!$,None
4853,WR,321,Business Communication,4.00 cr.,35136,22,22,1600-1720,mw,See DuckWeb,Smith B,!,None
4854,WR,408,Lab Indpend Writ Proj,1.00-3.00 cr.,35137,5,5,tba,tba,tba,STAFF,NaN,None
4855,WR,423,Adv Composition,4.00 cr.,35138,20,20,1000-1120,tr,See DuckWeb,tba,!,None

In [10]:
import sqlite3

conn = sqlite3.connect('classes.db')

main_df.to_sql('Classes', conn, index=False, if_exists='replace')
conn.close()